@model WhiskyDB.Domain.Cask

<form asp-action="Add" method="post" class="form-horizontal" role="form">
    <h4>Add New Cask</h4>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LitreVolume" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LitreVolume" class="form-control" />
            <span asp-validation-for="LitreVolume" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Predecessor" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="Predecessor" asp-items="@Html.GetEnumSelectList(typeof(WhiskyDB.Domain.Cask.Predecessors))" class="form-control"></select>
            <span asp-validation-for="Predecessor" class="text-danger"></span>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Add Cask" />
        </div>
    </div>


</form>