@model WhiskyDB.App.ViewModels.CaskIndexViewModel

<h2>Casks</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Volume</th>
            <th>Predecessor</th>
            <th>Whiskies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cask in Model.Casks)
        {
            <tr>
                <td>@cask.Name</td>
                <td>@cask.LitreVolume</td>
                <td>@cask.Predecessor</td>
                <td>@foreach (var whisky in cask.WhiskyCasks)
                {
                    @Model.Whiskies.Single(w => w.Id == whisky.WhiskyId).Name
                    <br>
                }</td>
                <td class="table-buttons">
                    <a class="btn btn-primary" asp-controller="Cask" asp-action="Delete" asp-route-id="@cask.Id">Delete</a>
                    <a class="btn btn-primary" asp-controller="Cask" asp-action="Edit" asp-route-id="@cask.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Cask" asp-action="Add">Add Cask</a>

