﻿@model WhiskyDB.Domain.Whisky

<div class="box col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img class="boxImage" src="@Model.ImageUrl" alt="">
        <div class="caption">
            <h3>
                <a class="btn btn-primary" asp-controller="Whisky" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
            </h3>
        </div>
    </div>
</div>