@model WhiskyDB.Domain.Destillery

<form asp-action="Add" method="post" class="form-horizontal" role="form">
    <h4>Add New Destillery</h4>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FoundingYear" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FoundingYear" class="form-control" />
            <span asp-validation-for="FoundingYear" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="District" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="District" asp-items="@Html.GetEnumSelectList(typeof(WhiskyDB.Domain.Destillery.Districts))" class="form-control" ></select>
            <span asp-validation-for="District" class="text-danger"></span>
        </div>
    </div>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Add Destillery" />
        </div>
    </div>


</form>