﻿@model WhiskyDB.Domain.Destillery

<form asp-action="Edit" method="post" class="form-horizontal" role="form">
    <h4>Edit Destillery</h4>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" value="@Model.Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FoundingYear" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FoundingYear" class="form-control" value="@Model.FoundingYear"/>
            <span asp-validation-for="FoundingYear" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="District" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="District" value="@Model.District" asp-items="@Html.GetEnumSelectList(typeof(WhiskyDB.Domain.Destillery.Districts))" class="form-control"></select>
            <span asp-validation-for="District" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Edit Destillery" />
        </div>
    </div>


</form>