@model List<WhiskyDB.Domain.Destillery>

<h2>Destilleries</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Founded in</th>
            <th>District</th>
            <th>Whiskies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var destillery in Model)
        {
            <tr>
                <td>@destillery.Name</td>
                <td>@destillery.FoundingYear</td>
                <td>@destillery.District</td>
                <td>
                    @foreach (var whisky in destillery.Whiskys)
                {
                    @whisky.Name
                    <br>
                }
            </td>
                <td class="table-buttons">
                    <a class="btn btn-primary" asp-controller="Destillery" asp-action="Delete" asp-route-id="@destillery.Id">Delete</a>
                    <a class="btn btn-primary" asp-controller="Destillery" asp-action="Edit" asp-route-id="@destillery.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Destillery" asp-action="Add">Add Destillery</a>

