@model WhiskyDB.App.ViewModels.AddWhiskyViewModel

<form asp-action="Add" method="post" class="form-horizontal" role="form">
    <h4>Add New Whisky</h4>

    <div class="form-group">
        <label asp-for="Whisky.Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Whisky.Name" class="form-control" />
            <span asp-validation-for="Whisky.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Whisky.Age" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Whisky.Age" class="form-control" />
            <span asp-validation-for="Whisky.Age" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Whisky.Description" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Whisky.Description" class="form-control" />
            <span asp-validation-for="Whisky.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Whisky.ImageUrl" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Whisky.ImageUrl" class="form-control" />
            <span asp-validation-for="Whisky.ImageUrl" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DestilleryId" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="DestilleryId" asp-items="@(new SelectList(ViewBag.Destilleries, "Id", "Name"))" class="form-control"></select>
            <span asp-validation-for="DestilleryId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CaskIds" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="CaskIds" asp-items="@(new SelectList(ViewBag.Casks, "Id", "Name"))" class="form-control"></select>
            <span asp-validation-for="CaskIds" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Add Whisky" />
        </div>
    </div>


</form>