﻿@model WhiskyDB.App.ViewModels.WhiskyDetailsViewModel

<div cless="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <img class="detailImage" src="@Model.Whisky.ImageUrl" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <h2 id="whiskyName">@Model.Whisky.Name</h2>
        <h4>Age</h4>
        <p>@Model.Whisky.Age</p>
        <h4>Destillery</h4>
        <p>@Model.Whisky.Destillery.Name</p>
        <h4>Description</h4>
        <p>@Model.Whisky.Description</p>
        <h4>Casks</h4>
        @foreach(var cask in Model.Casks)
        {
        <p>@cask.Name</p>
        }
        <a class="btn btn-primary" asp-controller="Whisky" asp-action="Delete" asp-route-id="@Model.Whisky.Id">Delete</a>
        <a class="btn btn-primary" asp-controller="Whisky" asp-action="Edit" asp-route-id="@Model.Whisky.Id">Edit</a>
    </div>
</div>