@model List<WhiskyDB.Domain.Whisky>

<p class="button">
    <a class="btn btn-primary" asp-controller="Whisky" asp-action="Add">Add Whisky</a>
</p>

<div class="row boxlist">
    @foreach (var whisky in Model)
    {
        @Html.Partial("WhiskyBox", whisky)
    }
</div>

