﻿body {
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url('../images/tartan.jpg');
    background-repeat: repeat;
    border: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h4, h2, th, p {
    color: gold;
}

td {
    color: black;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: black;
}

.navbar .nav > li > a {
    color: gold;
}

.box {
    background-color: white;
    height: 300px;
    width: 300px;
    margin: 5px;
}

.boxTitle {
    color: black;
}

.thumbnail {
    border: 0;
}

.boxImage {
    max-height: 200px;
}

.detailImage {
    max-height: 1000px;
}

.btn {
    border: 0;
    background-color: black;
    color: gold;
}

.control-label {
    color: gold;
}

.table-bordered {
    border: 2px solid gold;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid black;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: red;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: darkgoldenrod;
}

.table-buttons {
    width: 140px;
}

.text-danger {
    color: white;
}

#copy {
    color: gold;
    padding-top: 30px;
}